/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
    font-size: 16px;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

a {
    color: #33A8E5;
    text-decoration: none;
}

a:link,a:visited {
    text-decoration: none;
    color: #006395;
}

a:active,a:hover,a:focus {
	color: #F00;
    text-decoration: underline;
}



/*****************************************************************************/
/*
/* header
/*
/*****************************************************************************/

.site-header {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.header-wrapper {
    max-width: 968px;
    margin: 0 auto;
    padding: 32px 16px; 
    box-sizing: border-box;
}

.site-header h1  {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.site-header h1 a {
    text-decoration: none;
    color: #222;
}

.site-header h2 {
    padding-left: 3px;
    color: #33A8E5;
    font-size: 1.2rem;
    font-weight: bold;
}


/*****************************************************************************/
/*
/* main
/*
/*****************************************************************************/

.site-content {
    max-width: 968px;
    margin: 0 auto;
}

.site-content:before, .site-content:after {
    content: " ";
    display: table;
    visibility: hidden;
}

.site-content:after {
    clear: both;
}

.content {
    width: 75%;
    float: left;
    border-right: 1px dotted #CCC;
    padding-right: 12px;
    margin-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.pagination {
    margin-top: 12px;
    float: right;
}

.pagination a, .pagination .current-page {
    display: inline-block;
    color: #555;
    border: 1px solid #ccc;
    padding: 8px 16px;
    font-size: 0.9rem;
    text-decoration: none;
}

.pagination a:active, .pagination a:hover, .pagination a:focus {
    background-color: #EEE;
    color: #F00;
}

.pagination .current-page { 
    background-color: #33A8E5;
    color: #FFF;
}




/*****************************************************************************/
/*
/* sidebar
/*
/*****************************************************************************/

.side-bar {
    width: 25%;
    float: right;
    margin-top: 18px;
    font-size: 0.8rem;
}

.side-bar > * {
    padding-left: 12px;
    padding-top: 12px;
    margin-bottom: 1rem;
}

.side-bar h2 {
    border-bottom: 1px dotted #ccc;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.side-bar h2 {
    border-bottom: 1px dotted #ccc;
    font-size: 0.9rem;
}

/*about me */
.about-me {
    text-align: justify;
}

/*social-icons */
.about-me {
    text-align: justify;
}


.icon-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}


.icon-list li {
	list-style: none;
    margin-bottom: 0.3em;
}

.icon-list a {
	text-decoration: none;
    color: #33A8E5;
}

.icon-list a:hover {
	text-decoration: none;
    color: #F00;
}

[class^="social-icon-"] {
    width: 18px;
    height: 16px;
    background: url("images/social-icons.png") no-repeat;
    display: inline-block;
    background-size: auto 16px;
    position: relative;
    top: 0.2rem;
    margin-right: 0.2rem;
}

.social-icon-github {
    background-position: -51px;
}

.social-icon-twitter {
    background-position: -34px;
}

.social-icon-rss {
    background-position: -17px;
}

.social-icon-linkedin {
    background-position: 1px;
}



/* latest-post */

.latest-post li {
    list-style: none;
	border-bottom: 1px dashed #CCC;
    margin-right: 12px;
    padding-left: 1rem;
    text-indent: -1.1rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.latest-post li:before {
    content: "»";
    margin-right: 6px;
    padding-left: 2px;
    font-size: 0.7rem;
    position: relative;
    top: -0.1rem;
    color: #33A8E5;
}



/*****************************************************************************/
/*
/* post content
/*
/*****************************************************************************/

.post {
	padding : 12px 10px;
	font-size : 0.8rem;
    border-bottom: 1px dotted #ccc;
}

/* header */

.post header {
    position: relative;
}

.post h2 {
	margin-bottom : 1.5rem;
    margin-right: 100px;
}


.post h2 a {
	color : #222;
	text-decoration: none;
	font-size: 1.3rem;
}

@media only screen and (min-width: 640px) { 
    .post h2:before {
        content: "∞";
        margin-right: 4px;
        margin-left: -4px;
        font-size: 1rem;
        position: relative;
        bottom: 0.1rem;
        color: #33A8E5;
    }
    
    .post h2 {
        padding-left: 20px;
        text-indent: -20px;
    }
}

.post h2 a:hover{
	color : #F00;
}

.post-date {
    color: #33A8E5;
    position: absolute;
    top: 0.4rem;
    right: 0px;
}

/* content */

.post-content {
	text-align: justify;
	color: #222;
}

.post-content p, .post-content ul {
	padding: 0.3rem 0px; 
}

.post-content li, .post-content ol {
	margin-left :25px;
	padding: 2px 0px; 
}

/* hightlight */
.highlight {
    margin: 6px 0px;
}

.highlight > pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    line-height: 1.2rem;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}


/* read more */

a.read-more {
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 18px;
    display: block;
    color: #33A8E5;
}

a.read-more:hover {
    color: #F00;
}


/*****************************************************************************/
/*
/* footer
/*
/*****************************************************************************/

.site-footer {
    width: 100%;
    text-align: center;
    height: 50px;
    border-top: 1px solid #CCC;
    margin-top: 5px;
}
.copyright {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bolder;
    font-size: 0.6rem;
}

/*****************************************************************************/
/*
/* mobile 
/*
/*****************************************************************************/


/***
 * screen that does not display the 'max-site width of the screen'
 */
@media only screen and (max-width: 1032px) { 
    
    .header-wrapper {
        padding: 12px 12px;
    }
    
    .site-header h1  {
        font-size: 1.2rem;
    }

    .site-header h2 {
        font-size: 1rem;
    }
    
    .content {
        width: 100%;
        border-right: 0;
        padding-right: 12px;
        float: none;
    }
    
    .side-bar {
        float: none;
        width: 100%;
        padding-right: 12px;
        margin-top: 48px;
        border-top: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .post h2 {
        margin: 0 0;
    }
    
    .post h2 a {
        font-size: 1rem;
        font-weight: bold;
    }
    
   
    .post-date {
        display: block;
        position: relative;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
        text-align: right;
    }
    
    .about-me-link {
        display: block;
        position: absolute;
        top: 62px;
        right: 5px;
    }
    
    .latest-post {
        display: none;
    }
}


@media only screen and (min-width: 1033px) {
    .about-me-link {
        display: none;
    }
}


